form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 100px auto;
}
mat-error {
  margin-bottom: 20px;
}

h1 {
  font-weight: 200;
  text-align: center;
}

button {
  width: 200px;
  margin: auto;
}

mat-form-field {
  margin-bottom: 20px
}